body {
  background-color: #17264f;
  color: #bbb;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  word-wrap: break-word;
}

.xp {
  font-family: 'Archivo Black', sans-serif;
  color: #fff;
    font-size: 8rem;
}
