body {
  background-color: #17264f;
  color: #bbb;
  font-family: 'Archivo Black', sans-serif;
  word-wrap: break-word;
  text-align: center;
}

main {
  max-width: 24rem;
  margin: auto;
}

.tophalf {
  background-color: #fff;
  border-radius: 0 2em 0 0;

}

em {
  font-style: normal;
  color: #fc0

}

.xp {
  color: #fff;
  font-family: 'Days One', sans-serif;
  background-color: #e95420;
  font-size: 8rem;
  border-radius: 0 0 0 1em;

}
