body {
  background-color: #17264f;
  color: #bbb;
  font-family: 'Montserrat', sans-serif;

  word-wrap: break-word;
}

main {
  max-width: 24rem;
  margin: auto;
}

.xp {
  font-family: 'Archivo Black', sans-serif;
  color: #fff;
}
